header img {
  width:500px;
}

.header-nav {
  float: center
}

.header-nav ul li {
  display: inline;
  padding: 13px;
  margin: 13px;
  border: 1px #4B0082;
}

h1 {
  text-align:  right;
  background: blue;
  color: #FF1493;
}

main img {
  width:100px;
}

footer {
  text-align:  right;
  font-size: 6px;
}
{
<ul>
  <li><a href="#">Home</a></li>
<li><a href="#">About ust</a></li>
  <li><a href="#">Fav books</a></li>
</ul>
}
