header img {
  width: 500px;
}

.header-nav {
  float: left
}

.header-nav ul li {
  display: inline;
  padding: 13px;
  margin: 13px;
  border: 1px #4B0082;
}

h1 {
  text-align:  right;
  background: rgb(77, 67, 73);
  color: #FF1493;
}

main img {
  width:800px;
}

footer {
  text-align:  right;
  font-size: 20px;
}
